{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<p>If you have any questions or inquiries, please fill out the form below or reach out to us at support@example.com.</p>


<form method="post" action="{% url 'contact_us' %}" style="max-width: 600px; margin: 0 auto;">
    {% csrf_token %}
    <div class="form-group" style="margin-bottom: 15px;">
        <label for="name" style="display: block; margin-bottom: 5px; margin-top: 50px; text-align: left; color: white;">Name:</label>
        <input type="text" id="name" name="name" style="width: 100%; padding: 10px; background-color: transparent; border: 1px solid white; color: white;" required>
    </div>
    <div class="form-group" style="margin-bottom: 15px;">
        <label for="email" style="display: block; margin-bottom: 5px; text-align: left; color: white;">Email:</label>
        <input type="email" id="email" name="email" style="width: 100%; padding: 10px; background-color: transparent; border: 1px solid white; color: white;" required>
    </div>
    <div class="form-group" style="margin-bottom: 15px;">
        <label for="message" style="display: block; margin-bottom: 5px; text-align: left; color: white;">Message:</label>
        <textarea id="message" name="message" rows="5" style="width: 100%; padding: 10px; background-color: transparent; border: 1px solid white; color: white;" required></textarea>
    </div>
    <div class="form-group" style="text-align: center;">
        <button type="submit" class="btn" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; cursor: pointer;">Send Message</button>
    </div>
</form>
{% endblock %}
